.root {
    @media (max-width: 425px) {
        margin-top: 10px;
    }
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 300px;
    padding-left: 40px;
    border-radius: 10px;
    font-size: 16px;
    left: 0px;

    @media (max-width: 768px) {
        width: 90%;
    }

    @media (max-width: 425px) {
        width: 100%;
    }
}

.icon {
    width: 24px;
    height: 24px;
    position: absolute;
    opacity: 0.3;
    margin-top: 12px;
    margin-left: 10px;
}

.clear {
    width: 24px;
    height: 24px;
    position: absolute;
    opacity: 0.3;
    right: 15px;
    margin-top: 12px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
